img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.navbar {
    background-color: rgb(31, 12, 15, 0.5);
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    z-index: 1;
    display: flex;
    width: 95vw;
    gap: 1vw;
    align-items: center;

    
}


.poster-content {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    
}

.text {
    color: white;
    text-shadow: 2px 2px 4px black;
}

h1 {
    margin: 0px;
    font-size: 8vw;
    font-weight: 600;
    font-family: Alice, serif;
}

p {

    font-size: 4vw;
    font-weight: 600;
    font-family: Alice, serif;
}

a {
    
    padding: 1vw;
    font-size: 2vw;
    text-decoration: none;
    transition-duration: 0.4s;
    font-family: Poppins, sans-serif;
    
    
    
}

.button {
    padding: 8px;
    border: solid;
    background-color: rgb(31, 12, 15, 0.5);


}

a:hover {
    background-color: #80573f;
}

@media (max-width:768px) {

    h1 {
        font-size: 10vw;
    }

    p {
        font-size: 5vw;
    }

    a {
        font-size: 3vw;
    }


}

