.navbar {
    background-color: rgb(31, 12, 15, 0.5);
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    z-index: 1;
    display: flex;
    width: 95vw;
    gap: 1vw;
    align-items: center;
    

    
}

.navbar-text {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.navbar-link {
    
    padding: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
    transition-duration: 0.4s;
    font-family: Poppins, sans-serif;
    
    
    
    
}

.menu {
    
    margin-left: auto;
    
    
    
}

.chapters {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(31, 12, 15, 0.5);
    
    
}

.chapter-link {

    display: none;
    padding: 1vw;
    font-size: 1vw;
    text-decoration: none;
    transition-duration: 0.4s;
    font-family: Poppins, sans-serif;

}



button {
    border: none;
    background: none;
    padding: 0.5vw;
    font-size: 1.5vw;
    font-family: Poppins, sans-serif;

}

a:hover {
    background-color: #80573f;
    color: white;
    text-shadow: 2px 2px 4px black

    
}

button:hover {
    background-color: #80573f;
    color: white;
    text-shadow: 2px 2px 4px black;
    
    
    
}


.menu:hover  {

    .chapter-link{
        display: revert;

    }
    

    
}

h4 {
    text-align: center;
    margin-top: 2vh;
    font-size: 5vw;
    font-weight: 600;
    font-family: Alice, serif;
    text-shadow: 2px 2px 4px gray;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.stories-container {
    margin-top: 25vh;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
    
    
    
}

.story-image {
    
    object-fit: cover;
    width: 30vw;
    border-radius: 5%;
    box-shadow: 6px 6px 4px gray;
    
    


}

p {
    text-align: justify;
    font-family: Alice, serif;
    font-size: 2vw;
}

.bottom-buttons {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    
    
}

.bottom-buttons2 {
    display: flex;
    width: 80vw;
    justify-content: space-between;


}



@media (max-width:800px) {

    h2 {
        font-size: 9vw;
        
        
        
    }

    .navbar-link {
        font-size: 3.5vw;
    }

    .story-link {
        font-size: 3.5vw;
    }

    .chapter-link {
        font-size: 2.5vw;
    }

    button {
        font-size: 3.5vw;
    
    }

    h3 {
        font-size: 6vw;
        margin: 10px;
    }

    p {
        font-size: 3.5vw;
    }

    .stories-container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    
    
    
    }

    .story-image {
        width: 50vw;
    }




}