.navbar {
    background-color: rgb(31, 12, 15, 0.5);
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    z-index: 1;
    display: flex;
    width: 95vw;
    gap: 1vw;
    align-items: center;

    
}

.navbar-text {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.navbar-link {
    
    padding: 0.5vw;
    font-size: 1.5vw;
    text-decoration: none;
    transition-duration: 0.4s;
    font-family: Poppins, sans-serif;
    
    
    
    
}

.story-link {
    display: none;
    padding: 5px;
    font-size: 1.5vw;
    text-decoration: none;
    transition-duration: 0.4s;
    font-family: Poppins, sans-serif;
    color:white;
    text-shadow: 2px 2px 4px gray;
    border: solid white;
    background-color: rgb(31, 12, 15, 0.5);

}


a:hover {
    background-color: #80573f;
    color: white;
    text-shadow: 2px 2px 4px black

    
}



h2 {
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
    font-family: Alice, serif;
    text-shadow: 2px 2px 4px gray;

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    margin: 20px;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
    font-family: Alice, serif;
    text-shadow: 2px 2px 4px gray;
}

p {
    text-align: justify;
    text-shadow: 1px 1px 4px gray;
    font-family: Alice, serif;
    font-size: 2vw;
}



.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(2px) opacity(35%);
   
}


.stories-container {
    
    position: absolute;
    top: 200px;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
    
    
    
    
}

.story-title {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.blurb {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 80vw;
    
}

.blurb-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}


.story-image {
    display: none;
    object-fit: cover;
    width: 50w;
    height: 90vh;
    border-radius: 5%;
    box-shadow: 6px 6px 4px gray;
    
    


}

.story-text {
    display: none;
    margin-bottom: 10px;
   
}

.story-title:hover {

    .story-image {
        display: revert;
        
    }

    .story-text {
        display: revert;
        
    }

    .story-link {
        display: revert;
    }

}





@media (max-width:768px) {

    h2 {
        top: 50px;
        font-size: 8vh;
        
        
        
    }

    h3 {
        font-size: 5vh;
        margin: 10px;
    }

    p {
        font-size: 3vh;
    }

    .navbar-link {
        font-size: 3.5vw;
    }

    .story-link {
        font-size: 3vh;
    }

    

    .stories-container {
        top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    
    
    
    }

    .blurb {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vh;
        
        

    }

    .blurb-text {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;

    }

    .story-image {
        width: 70vw;
        height: auto;
        
    }




}